[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
[submodule "carlaviz"]
	path = carlaviz
	url = https://github.com/kael53/carlaviz.git
